<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BLOG WEBSITE</title>
  </head>
  <link rel="stylesheet" href="static/css_2.css">
  <script src="https://kit.fontawesome.com/05bc5773e0.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Ubuntu&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <body>

    <section id="title">

      <div class="container-fluid">


        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar">
          <a class="navbar-brand" href="" >Welcome To OpenCV</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#title">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#service">Service	</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </nav>


        <!-- Title -->

        <div class="row">
          <div class="col-lg-6">
            <h1>Access the future !!</h1>
          </div>
        </div>
      </div>

    </section>

    <!-- feature -->
    <section id="features">

      <div class="row">
        <div class="feature-box col-lg-4 col-md-4">
          <i class="far fa-check-circle icon"></i>
          <h3>Easy to use and explore</h3>
          <p class="feature-line">Our product is very easy to use.</p>
        </div>

        <div class="feature-box col-lg-4 col-md-4">
          <i class="fas fa-bullseye icon"></i>
          <h3>Customer Support</h3>
          <p class="feature-line">We are always there for you.</p>
        </div>

        <div class="feature-box col-lg-4 col-md-4">
          <i class="fas fa-heart icon"></i>
          <h3>Guaranteed to work</h3>
          <p class="feature-line">Our product is one of the best in market.</p>
        </div>

        </div>

    </section>

    <!-- Carousel -->

    <section id="testimonials">

      <div id="Testimonials-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2>It's not that we Use Technology , we Live Technology</h2>
          <img class="testimonial-img" src="static/images/13.jpg" alt="">
         
        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">The best way to predict the FUTURE is to INVENT it.</h2>
          <img class="testimonial-img" src="static/images/16.jpg" alt="">
         
        </div>

      </div>
      <a class="carousel-control-prev" href="#Testimonials-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#Testimonials-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    </section>

    <!-- Service -->
	
    <div class="service" id="service">
	
	<h2 class="head2"> Access Our Service</h2>
		<div class="container service-section">
		<div class="row">
		<div class="bright col-md-6 col-lg-6 col-sm-12">
		<img src="static/images/3.jpg" class="img1">
		<br>
		<button class="button button1"><a href = "/video2">Brightness Control</button>
		</div>
		
		
		
		<div class="volume col-md-6 col-lg-6 col-sm-12">
		<img src="static/images/6.png" class="img1">
		<br>
		<button class="button button2" ><a href = "/video">Volume Control</button>

		</div>
		</div>
		</div>
	
	
	</div>

  

    <!-- Contact -->

    <section id="cta">

      <h2>Explore your mind with us.</h2>
      <h3>Let us make the "FUTURE" , our "PRESENT"</h3>

    </section>

    <!-- contact -->
    <section id="contact" class="section-padding">
      <div class="contact-form">
        <div class="container">
          <div class="row contact-form-area wow fadeInUp animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
		  
            <div class="col-md-6 col-lg-6 col-sm-12">
              <div class="footer-right-area wow fadeIn animated" style="visibility: visible;">
                <h2>Contact Address 1</h2>
                <div class="footer-right-contact">
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fas fa-user"></i>
                    </div>
                    <p>Ayush Agarwal</p>
                  </div>
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-envelope"></i>
                    </div>
                    <p><a href="mailto:ayuagar23@gmail.com">ayuagar23@gmail.com</a></p>
                  </div>
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <p><a href="#">+916205753706</a></p>
                  </div>
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <p>Chandigarh University, Punjab , India <br> Pin Code - 140413</p>
                  </div>
                </div>
              </div>
            </div>
			
			
			<div class="col-md-6 col-lg-6 col-sm-12">
              <div class="footer-right-area wow fadeIn animated" style="visibility: visible;">
                <h2>Contact Address 2</h2>
                <div class="footer-right-contact">
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fas fa-user"></i>
                    </div>
                    <p>Shreya Dhanta</p>
                  </div>
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-envelope"></i>
                    </div>
                    <p><a href="mailto:ayuagar23@gmail.com">shreyadhanta@gmail.com</a></p>
                  </div>
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <p><a href="#">+916204526706</a></p>
                  </div>
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <p>Chandigarh University, Punjab , India <br> Pin Code - 140413</p>
                  </div>
                </div>
              </div>
            </div>
			
			
			
            <div class="col-md-12">
            <img src="static/images/12.png"style="border:0; height: 450px; width: 100%;"  width="600" height="450">
			</div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->

    <footer id="footer">

    <div class="social-media">
      <a href="https://www.linkedin.com/in/ayush-agarwal-12a71b148/" class="social-icon"><i class="fab fa-linkedin"></i></a>
      <a href="https://twitter.com/ayuagar23" class="social-icon"><i class="fab fa-twitter"></i></a>
      <a href="" class="social-icon"><i class="fab fa-instagram"></i></a>
      <a href="mailto:ayuagar23@gmail.com" class="social-icon"><i class="fa fa-envelope"></i></a>
    </div>
      <p>© Copyright 2021 Made with  <i class="fas fa-heart" style="color:red"></i>  by Ayush | Shreya</p>

    </footer>

  </body>
</html>
